PROJECT_NAME="AdRewards Engine"
POSTGRES_USER=app_user
POSTGRES_PASSWORD=362bQkYWjEXT4YTWKE9l3mod
POSTGRES_DB=ad_rewards_db



# Local çalışma için 'localhost', Docker kullanıldığında 'postgres' yapılır
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# DATABASE_URL içindeki şifreyi de yukarıdakiyle aynı yapın
DATABASE_URL=postgresql://app_user:362bQkYWjEXT4YTWKE9l3mod@localhost:5432/ad_rewards_db

# Local çalışma için 'localhost', Docker kullanıldığında 'redis' yapılır
REDIS_URL=redis://localhost:6379/0

# Ürettiğiniz 64 karakterli hex anahtarını buraya yapıştırın
SECRET_KEY=57520971afe922be23ab96514c319207de8641d677460ef62fb829d164f60f49
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
